<!DOCTYPE html>
<html lang="en">
<head>

<title>测量数据分析--血脂</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="A HTML Template best suited for business sites and portfolios" />
<meta name="keywords" content="Some keywords that best describe your business" />
<meta name="author" content="Creativusmouse" />

<!-- CSS -->
<link href="http://192.185.2.37/~zhenhui/main/css/style.css" rel="stylesheet" type="text/css" />
<!-- END CSS -->
    
<!-- JAVASCRIPT -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="http://192.185.2.37/~zhenhui/main/js/jquery-1.7.2.min.js"><\/script>')</script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/script.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/superfish.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/custom.js"></script>
<script type="text/javascript" src="http://192.185.2.37/~zhenhui/main/js/jquery.modernizr.min.js"></script>
<!-- END JAVASCRIPT -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="scriptaculous/lib/prototype.js" type="text/javascript"></script>
<script src="scriptaculous/src/effects.js" type="text/javascript"></script>
<script type="text/javascript" src="list/validation.js"></script>
<script type="text/javascript">
//<![CDATA[
<!--
// Alternative Style: Working With Alternate Style Sheets
// http://www.alistapart.com/articles/alternate/
function setActiveStyleSheet(title) {
var i, a, main;
for(i=0; (a = document.getElementsByTagName("link")[i]); i++) {
if(a.getAttribute("rel").indexOf("style") != -1 && a.getAttribute("title")) {
a.disabled = true;
if(a.getAttribute("title") == title) a.disabled = false;
}
}
}
//-->
//]]>
</script>
<link title="style1" rel="stylesheet" href="http://192.185.2.37/~zhenhui/main/list/style1.css" type="text/css" />
<link title="style2" rel="alternate stylesheet" href="http://192.185.2.37/~zhenhui/main/list/style2.css" type="text/css" />
<link title="style3" rel="alternate stylesheet" href="http://192.185.2.37/~zhenhui/main/list/style3.css" type="text/css" />
</head>
  <body>
  
    <div class="header"><!-- HEADER -->
      <div class="container_12">
        <div class="grid_3">
        
          <div class="logo"><!-- LOGO -->
            <a href="http://192.185.2.37/~zhenhui/Taro/index.php/main_index.html"><img src="http://192.185.2.37/~zhenhui/main/images/logo.png" alt="" /></a>
          </div>
        </div><!-- END LOGO -->
        
       <div class="grid_9"><!-- MENU -->
          <ul class="sf-menu">
            <li>
              <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xueya.html"><span class="uppercase">检测中心</span></a>
              <ul>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xueya.html">血压</a>
                </li>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xuetang.html">血糖</a>

                </li>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xuezhi.html">血脂</a>
                
                </li>
              </ul>
            </li>
            <li>
              <a href="http://192.185.2.37/~zhenhui/Taro/index.php/question.html"><span class="uppercase">问答中心</span></a>
              <ul>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/question.html">我的问答</a>
                
                </li>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/answer.html">医生建议</a>
                
                </li>
              </ul>
            </li>
            <li>
              <a href="http://192.185.2.37/~zhenhui/Taro/index.php/message.html"><span class="uppercase">信息快递</span></a>
            </li>
            <li>
              <a href="#"><span class="uppercase">就医记录</span></a>
            <li>
              <a href="http://192.185.2.37/~zhenhui/Taro/index.php/healthdata.html"><span class="uppercase">会员设置</span></a>
                <ul>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/healthdata.html">健康数据更新</a>
           
                </li>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/namechange.html">个人资料更新</a>
                
                </li>
                <li>
                  <a href="http://192.185.2.37/~zhenhui/Taro/index.php/#">退出软件</a>
                
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- END MENU -->
        
      </div>
      
    </div><!-- END HEADER -->
    
    <div class="head_title"><!-- HEAD TITLE -->
      <div class="container_12">
        <div class="grid_12">
          <h1>
           测量数据分析
          </h1>
        </div>
      </div>
    </div><!-- HEAD TITLE -->
    
    <div class="breadcrumbs"><!-- BREADCRUMBS -->
      <div class="container_12">
        <div class="grid_12">
          <a href="http://192.185.2.37/~zhenhui/Taro/index.php/main_index.html" style="font-size:20px; font-weight:bold; letter-spacing:2px;">首页</a>
          <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xueya.html" class="icon_meta" style="font-size:20px; font-weight:bold; letter-spacing:2px;">血压</a>
          <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xuetang.html" class="icon_meta" style="font-size:20px; font-weight:bold; letter-spacing:2px;">血糖</a>
          <a href="http://192.185.2.37/~zhenhui/Taro/index.php/analyse-xuezhi.html" class="icon_meta" style="font-size:20px; font-weight:bold; letter-spacing:2px;">血脂</a>
          <a href="http://192.185.2.37/~zhenhui/Taro/index.php/question.html" class="icon_meta" style="font-size:20px; font-weight:bold; letter-spacing:2px;">联系医生</a>
          <a href="http://192.185.2.37/~zhenhui/Taro/index.php/xuezhi_hisdata.html" class="icon_meta" style="font-size:20px; font-weight:bold; letter-spacing:2px;">历史数据</a>
        </div>
      </div>
    </div><!-- END BREADCRUMBS -->
 <div class="form_content by">
    <form id="test" action="http://192.185.2.37/~zhenhui/Taro/index.php/postdata/insert_xuezhi" method="post">
    <fieldset>
        <legend>血脂</legend>
         <div class="form-row">
            <div class="field-label"><label for="field1">总胆固醇（mmol/L）</label>:</div>
            <div class="field-widget"><input name="field1" id="field1" class="required" title="请输入您的总胆固醇" /></div>
        </div>
        
        <div class="form-row">
            <div class="field-label"><label for="field2">甘油三酯（mmol/L）</label>:</div>
            <div class="field-widget"><input name="field2" id="field2" class="required" title="请输入您的甘油三酯" /></div>
        </div>
        <div class="form-row">
            <div class="field-label"><label for="field3">高密度脂蛋白（mmol/L）</label>:</div>
            <div class="field-widget"><input name="field3" id="field3" class="required" title="请输入您的高密度脂蛋白" /></div>
        </div>
        <div class="form-row">
            <div class="field-label"><label for="field4">低密度脂蛋白（mmol/L）</label>:</div>
            <div class="field-widget"><input name="field4" id="field4" class="required" title="请输入您的低密度脂蛋白" /></div>
        </div>
     </fieldset>
      <input id="botton" type="submit" class="submit" value="Submit" /> <input id="botton" class="reset" type="reset" value="Reset" onclick="valid.reset(); return false" />
    </form>

    <div class="word">
     <h3 style="color:#F00; font-size:30px; font-weight:bold; margin:10px;">温馨提示：</h3><br />
     <p id="word" align="left">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;血脂主要指血中的甘油三酯和胆固醇，高血脂可导致动脉粥样硬化。摄入鸡蛋、肉类、奶酪等动物脂肪含量高的食物会增加血脂水平。<br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胆固醇分为好的胆固醇和坏的胆固醇，好的胆固醇指高密度脂蛋白，能够帮助清理血管；坏的胆固醇指低密度脂蛋白，可在血管壁产生斑块堵塞血管。理想的血脂水平是胆固醇和甘油三酯处于正常范围，低密度脂蛋白低（数值低），高密度脂蛋白高（数值高）。
     </p>
    </div>


    <script type="text/javascript">
        function formCallback(result, form) {
            window.status = "valiation callback for form '" + form.id + "': result = " + result;
        }
        
        var valid = new Validation('test', {immediate : true, onFormValidate : formCallback});
        Validation.addAllThese([
            ['validate-password', '> 6 characters', {
                minLength : 7,
                notOneOf : ['password','PASSWORD','1234567','0123456'],
                notEqualToField : 'field1'
            }],
            ['validate-password-confirm', 'please try again.', {
                equalToField : 'field8'
            }]
        ]);
    </script>
  
</body>
</html>